/* Global Reset */
* {
    font-family: 'Allerta', arial, Tahoma;
    box-sizing: border-box;
}
body {
    /* background: -webkit-gradient(linear, right top, left top, from(#7700aa), to(#8800ff));
    background: linear-gradient(to left, #7700aa, #8800ff); */
    text-align:center;
    /* color:#fff; */
}
/* Start  styling the page */
.container-audio {
    width: 26%;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    /* background-color: #eee; */
    color: #444;
    margin: 20px auto;
    overflow: hidden;
}
audio {
  width:100%;
}
audio:nth-child(2), audio:nth-child(4), audio:nth-child(6) {
    margin: 0;
}
